@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope/Manrope-Regular.ttf') format('truetype'),
         url('../assets/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F2F3F2;
    color: #7C808B;
    /* min-height: 100vh; */
  }
  
  