.experience-container {
    padding: 60px 0;
    text-align: center;

    
    .heading {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 40px;
      color: #45577B;
      margin-top: 0;
      text-align: left;
    }
    
    .experience-content {
      display: flex;
      justify-content: space-between;
      gap: 5rem;
    }

    .experience-card {
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 50px;
    }

    .experience-image {
      width: 80px;
      height: 80px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .experience-details {
      text-align: left;
    }

    .experience-category {
      margin: 0.5rem 0;
    }

    .experience-title {
      margin: 0.5rem 0;
    }
    
  
    
  }

  @media screen and (max-width: 768px) {
    .experiences-container {
      padding: 2rem 0;
      .heading {
        font-size: 1.5rem;
      }
    }
    .experience-content {
      flex-direction: column;
    }

    .experience-container .experience-card {
      flex-direction: column;
      gap: 1rem;
    }
  }
  
